.carousel-container {
    width: 70%;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /*width: calc(74 * 100%);*/
    animation: slide 148s infinite;
}

.carousel-item {
    flex: 0 0 100%;
    text-align: center;
}

.carousel-item img {
    width: 90%;
    height: 400px;
    border-radius: 10px;
}

@keyframes slide {
    0% { transform: translateX(0); }
    1.35% { transform: translateX(-100%); }
    2.7% { transform: translateX(-200%); }
    4.05% { transform: translateX(-300%); }
    5.4% { transform: translateX(-400%); }
    6.75% { transform: translateX(-500%); }
    8.1% { transform: translateX(-600%); }
    9.45% { transform: translateX(-700%); }
    10.8% { transform: translateX(-800%); }
    12.15% { transform: translateX(-900%); }
    13.5% { transform: translateX(-1000%); }
    14.85% { transform: translateX(-1100%); }
    16.2% { transform: translateX(-1200%); }
    17.55% { transform: translateX(-1300%); }
    18.9% { transform: translateX(-1400%); }
    20.25% { transform: translateX(-1500%); }
    21.6% { transform: translateX(-1600%); }
    22.95% { transform: translateX(-1700%); }
    24.3% { transform: translateX(-1800%); }
    25.65% { transform: translateX(-1900%); }
    27% { transform: translateX(-2000%); }
    28.35% { transform: translateX(-2100%); }
    29.7% { transform: translateX(-2200%); }
    31.05% { transform: translateX(-2300%); }
    32.4% { transform: translateX(-2400%); }
    33.75% { transform: translateX(-2500%); }
    35.1% { transform: translateX(-2600%); }
    36.45% { transform: translateX(-2700%); }
    37.8% { transform: translateX(-2800%); }
    39.15% { transform: translateX(-2900%); }
    40.5% { transform: translateX(-3000%); }
    41.85% { transform: translateX(-3100%); }
    43.2% { transform: translateX(-3200%); }
    44.55% { transform: translateX(-3300%); }
    45.9% { transform: translateX(-3400%); }
    47.25% { transform: translateX(-3500%); }
    48.6% { transform: translateX(-3600%); }
    49.95% { transform: translateX(-3700%); }
    51.3% { transform: translateX(-3800%); }
    52.65% { transform: translateX(-3900%); }
    54% { transform: translateX(-4000%); }
    55.35% { transform: translateX(-4100%); }
    56.7% { transform: translateX(-4200%); }
    58.05% { transform: translateX(-4300%); }
    59.4% { transform: translateX(-4400%); }
    60.75% { transform: translateX(-4500%); }
    62.1% { transform: translateX(-4600%); }
    63.45% { transform: translateX(-4700%); }
    64.8% { transform: translateX(-4800%); }
    66.15% { transform: translateX(-4900%); }
    67.5% { transform: translateX(-5000%); }
    68.85% { transform: translateX(-5100%); }
    70.2% { transform: translateX(-5200%); }
    71.55% { transform: translateX(-5300%); }
    72.9% { transform: translateX(-5400%); }
    74.25% { transform: translateX(-5500%); }
    75.6% { transform: translateX(-5600%); }
    76.95% { transform: translateX(-5700%); }
    78.3% { transform: translateX(-5800%); }
    79.65% { transform: translateX(-5900%); }
    81% { transform: translateX(-6000%); }
    82.35% { transform: translateX(-6100%); }
    83.7% { transform: translateX(-6200%); }
    85.05% { transform: translateX(-6300%); }
    86.4% { transform: translateX(-6400%); }
    87.75% { transform: translateX(-6500%); }
    89.1% { transform: translateX(-6600%); }
    90.45% { transform: translateX(-6700%); }
    91.8% { transform: translateX(-6800%); }
    93.15% { transform: translateX(-6900%); }
    94.5% { transform: translateX(-7000%); }
    95.85% { transform: translateX(-7100%); }
    97.2% { transform: translateX(-7200%); }
    98.55% { transform: translateX(-7300%); }
    100% { transform: translateX(0); }
}
